*,
::before,
::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

#restaurant-facade {
  max-width: 100%;
  padding: 25px;
}

.menu-entry {
  display: flex;
  flex-direction: row;
}

.menu-photo {
  width: 25%;
  margin: 10px;
}
